@charset "utf-8";

body{
  background-color: rgba(0,0,0,0.4);
  margin:auto;
}

body div{
  width:400px;
  margin:auto;
  border: solid 2px red;
}

body div input{
  width: 30%;
  color: black;
  margin: 2% 5% 2% 11%
}

#space{
  /*width: 400px;
  */margin: auto;
  background-color: blue;
}

#space input{
  background-color: rgba(0,0,100,0.5);
  border: solid rgba(100, 100, 200, 0.5) 4px;
  border-radius: 4px;
  width: 96px;
  height: 80px;
  margin: 2px;
  text-align: center;
  color: rgb(180,180,180);
}

#space input:focus{border: solid purple 4px;}
#space input:active{border: solid red 4px;}

/*
#function input:active{
  border: solid red 4px}*/
